#tulisan{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
}

#Salam{
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 70px;
  margin-top: 25px;
  text-align : center; 
}

.rounded-circle{
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 15%;
}

#navbar{
  text-align : center;
}
img{
  border-radius: 50%;
}

h2{
  text-align : center;
  font-family: 'Roboto Condensed';
  font-style: normal ;
  font-weight: bold;
}

.nav-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: #000;

}

#Profile{
  margin-top: 10%;
}

#Deskripsi{
  margin-top: 10%; 
}

.logo-portofolio{
  padding-left: 100px;
}

.logo-kontak{
  padding-left: 50px;
}

.tengah{
  text-align: center;
}