{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gibran Brahmanta</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <link rel = "stylesheet"
        type = "text/css"
        href = "{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">

    </head>
    <body background="{% static 'images/background.jpg' %}">

        <div id = "Salam">
            <h1>Gibran Brahmanta</h1>
        </div>

        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portofolio">Portofolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">Contact</a>
                </li>
            </ul>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <form action='' method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <div class="centre-items">
                            <input type="submit" class="btn btn-primary" value="Add Schedule">
                        </div>
                    </form>
                </div>
                <div class="col" id="tulisan">
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for jadwal in sched %}
                                <tr>
                                <th scope="row">{{jadwal.Day}}</th>
                                <td>{{jadwal.Date}}</td>
                                <td>{{jadwal.Time}}</td>
                                <td>{{jadwal.Name}}</td>
                                <td>{{jadwal.Category}}</td>
                                <td>{{jadwal.Location}}</td>
                                <td><a href="{% url 'Delete' pk=jadwal.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </body>
</html>