{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gibran Brahmanta</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <link rel = "stylesheet"
        type = "text/css"
        href = "{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    </head>
    <body background="{% static 'images/background.jpg' %}">

        <div id = "Salam">
            <h1>Gibran Brahmanta</h1>
        </div>

        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portofolio">Portofolio</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">Contact</a>
                </li>
            </ul>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/Gibran Brahmanta.jpg' %}" alt="Gibran Brahmanta" width="300px" heigth="300px" class="rounded-circle"/> 
                </div>

                <div class="col" id="tulisan">
                    <div class="container">
                        <div class="row">
                            <div class="col" id="Profile">
                            <p class="tengah">For business inquiries, you can contact me from:
                            <br>
                            <br>
                            1) Email: Gibranbrahmanta@gmail.com<br>
                            2) Line: Gibranbrahmanta<br>
                            3) Instagram: Gibranbrahmanta<br>
                            4) Linkedln: Gibran Brahmanta Patriajati
                            </p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col" id="Deskripsi">
                                <p class="tengah">or just click one of these icon</p>
                                <br>
                                <a href="http://line.me/ti/p/~gibranbrahmanta"  class ="logo-kontak"><img src="{% static 'images/line.png' %}" height="100px" width="100px"></a>
                                <a href="https://instagram.com/gibranbrahmanta/" class ="logo-kontak"><img src="{% static 'images/instagram.png' %}" height="100px" width="100px"></a>
                                <a href="https://linkedin.com/in/gibranbrahmanta/" class ="logo-kontak"><img src="{% static 'images/linked.png' %}" height="100px" width="100px"></a>
                            </div>
                         </div>
                    </div
                </div>
            </div>
  
        </div>
        
    </body>
</html>