{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gibran Brahmanta</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <link rel = "stylesheet"
        type = "text/css"
        href = "{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">
    </head>
    <body background="{% static 'images/background.jpg' %}">

        <div id = "Salam">
            <h1>Gibran Brahmanta</h1>
        </div>

        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portofolio">Portofolio</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">Contact</a>
                </li>
            </ul>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/Gibran Brahmanta.jpg' %}" alt="Gibran Brahmanta" width="300px" heigth="300px" class="rounded-circle"/> 
                </div>

                <div class="col" id="tulisan">
                    <div class="container">
                        <div class="row">
                            <div class="col" id="Profile">
                            <h2>Work Experience</h2>
                            <p>1)Intern at Management and Compliance Reporting Department,
                            Central Bank of Indonesia<br>
                            2)Teaching Assistant of Programming Foundations 1, 
                            Universitas Indonesia</p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col" id="Deskripsi">
                             <h2>Organizations and Committe Experiences</h2>
                            <p>1) Member of Research and Strategic Action Department, 
                            BEM Fakultas Ilmu Komputer Universitas Indonesia <br>
                            2) Staff of Stage, COMPFEST 11<br>
                            3) Staff of Event, 26th Computers Get Together</p>
                            </div>
                         </div>
                    </div
                </div>
            </div>
  
        </div>
        
    </body>
</html>