{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Gibran Brahmanta</title>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">
        <link rel = "stylesheet"
        type = "text/css"
        href = "{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">

    </head>
    <body background="{% static 'images/background.jpg' %}">

        <div id = "Salam">
            <h1>Gibran Brahmanta</h1>
        </div>

        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Portofolio">Portofolio</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="/Schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">Contact</a>
                </li>
            </ul>
        </div>
        
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/Gibran Brahmanta.jpg' %}" alt="Gibran Brahmanta" width="300px" heigth="300px" class="rounded-circle"/> 
                </div>

                <div class="col" id="tulisan">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            <h2>Profile</h2>
                            <p>Name: Gibran Brahmanta Patriajati<br>
                                Nickname: Gibran<br>
                                Major: Bachelor of Computer Science, Faculty of Computer Science, University of Indonesia<br>
                                Batch: 2018<br>
                                Hobbies:<br>
                                    1)Writing  various articel<br>
                                    2)Reading various articel<br>
                                    3)Listening to the music
                            </div>
                            <div class="w-100"></div>
                            <div class="col" >
                                <h2>Description</h2>
                                <p>A technology enthusiast that have an interest in software engineering, 
                                data science, and digital business. As a person that have many experiences 
                                in organization and committee, I have the flexibility to work with different 
                                types of people and work environment. And also, I have high dedication and 
                                commitment to the organization that I am involved in. </p>
                            </div>
                         </div>
                    </div
                </div>
            </div>
  
        </div>
        
    </body>
</html>